## Student Score Analyser

* Write Python code for fully reproducible Student Score Analyser that works with any sheet having "Name", "Roll" columns and marks for all the subjects.

In [1]:
import os
import pandas as pd

In [2]:
def grade(p):
    if p >= 90:
        return "S"
    elif p >= 80:
        return "A"
    elif p >= 70:
        return "B"
    elif p >= 60:
        return "C"
    elif p >= 50:
        return "D"
    else:
        return "F"

In [3]:
import os
import pandas as pd

def studentScoreAnalyser(fullMarks=100):
    cwd = os.getcwd()
    FILE = os.path.join(cwd, "..", "Assets", "Students_Marksheet.csv")
    df = pd.read_csv(FILE)

    identity_columns = ["Name", "Roll"]
    marks_columns = [col for col in df.columns if col not in identity_columns]

    df[marks_columns] = df[marks_columns].apply(pd.to_numeric, errors="coerce")

    df["Total Score"] = df[marks_columns].sum(axis=1)

    students = df.shape[0]
    no_of_subjects = len(marks_columns)
    totalMarks = no_of_subjects * fullMarks

    df["% Score"] = round((df["Total Score"] / totalMarks) * 100, 1)
    df["Grade"] = df["% Score"].apply(grade)

    sorted_df = df.sort_values(by=["Total Score", "Roll"], ascending=[False, True])

    print(f"Total {no_of_subjects} subjects: {', '.join(marks_columns)}.")
    print(f"Total Score = {no_of_subjects} x {fullMarks} = {totalMarks} (across all subjects).")
    print(f"Total No. Of Students = {students}.\n")

    average_score = round(sorted_df["Total Score"].mean(), 1)
    median_score = round(sorted_df["Total Score"].median(), 1)

    print(f"Highest Score: {sorted_df.iloc[0]['Total Score']} ({sorted_df.iloc[0]['% Score']}%)")
    print(f"Lowest Score: {sorted_df.iloc[-1]['Total Score']} ({sorted_df.iloc[-1]['% Score']}%)")
    print(f"Average Score: {average_score} ({round(100 * average_score / totalMarks, 1)}%)")
    print(f"Median Score: {median_score} ({round(100 * median_score / totalMarks, 1)}%)")

    print("\nThe top 5 performers of this exam are-\n")
    print(sorted_df[["Name", "Roll", "Total Score", "% Score"]].head(5))

    print("\nThe 5 weak performers of this exam are-\n")
    print(sorted_df[["Name", "Roll", "Total Score", "% Score"]].tail(5))

    print("\nStudents who Failed:\n")
    failed_students = sorted_df[sorted_df["Grade"] == "Failed"]
    if failed_students.empty:
        print("No student received F grade. Everyone passed!")
    else:
        print(failed_students[["Name", "Roll", "Total Score", "% Score", "Grade"]])

    print("\nStudents scoring below average:\n")
    below_avg_students = sorted_df[sorted_df["Total Score"] < average_score]
    if below_avg_students.empty:
        print("No student scored below average.")
    else:
        print(below_avg_students[["Name", "Roll", "Total Score", "% Score", "Grade"]])

    return sorted_df

In [4]:
studentScoreAnalyser(100)

Total 6 subjects: Maths, Science, English, Social Science, Hindi, Computer.
Total Score = 6 x 100 = 600 (across all subjects).
Total No. Of Students = 30.

Highest Score: 543 (90.5%)
Lowest Score: 334 (55.7%)
Average Score: 468.9 (78.2%)
Median Score: 489.0 (81.5%)

The top 5 performers of this exam are-

               Name  Roll  Total Score  % Score
9   Ishita Banerjee    10          543     90.5
3        Amrita Roy     4          538     89.7
17        Arpit Sen    18          523     87.2
12         Riya Sen    13          518     86.3
0       Koustav Das     1          517     86.2

The 5 weak performers of this exam are-

               Name  Roll  Total Score  % Score
23  Sanjay Majumdar    24          413     68.8
2       Ankit Kumar     3          410     68.3
18     Meghna Arora    19          407     67.8
4       Rahul Verma     5          356     59.3
16    Shibam Mundra    17          334     55.7

Students who Failed:

No student received F grade. Everyone passed!

Students scoring below average:

               Name  Roll  Total Score  % Score Grade
10     Aarav Sharma    11          468     78.0     B
8       Kunal Mehta     9          446     74.3     B
29      Kali Charan    30          434     72.3     B
21      Priya Singh    22          426     71.0     B
6      Sourav Ghosh     7          424     70.7     B
28     Pankaj Kumar    29          423     70.5     B
25     Gurmit Singh    26          414     69.0     C
23  Sanjay Majumdar    24          413     68.8     C
2       Ankit Kumar     3          410     68.3     C
18     Meghna Arora    19          407     67.8     C
4       Rahul Verma     5          356     59.3     D
16    Shibam Mundra    17          334     55.7     D

,Name,Roll,Maths,Science,English,Social Science,Hindi,Computer,Total Score,% Score,Grade
9,Ishita Banerjee,10,90,92,89,91,88,93,543,90.5,S
3,Amrita Roy,4,92,89,90,88,85,94,538,89.7,A
17,Arpit Sen,18,83,86,87,89,90,88,523,87.2,A
12,Riya Sen,13,88,91,86,84,79,90,518,86.3,A
0,Koustav Das,1,89,94,81,80,78,95,517,86.2,A
1,Sneha Dutta,2,81,86,97,90,81,80,515,85.8,A
14,Tiyasa Chanda,15,81,83,85,86,88,92,515,85.8,A
7,Neha Patel,8,85,88,84,86,82,87,512,85.3,A
27,Dinesh Shetty,28,77,79,85,88,89,90,508,84.7,A
15,Tanbir Ali,16,75,85,86,89,81,85,501,83.5,A
22,Neha Gupta,23,76,80,81,86,87,90,500,83.3,A
26,Rohit Patel,27,77,81,82,83,88,89,500,83.3,A
24,Sheetal Agrawal,25,75,82,83,84,85,89,498,83.0,A
20,Rahul Sharma,21,75,78,81,84,89,90,497,82.8,A
19,Dipten Mishra,20,75,77,83,84,86,88,493,82.2,A
11,Nisha Saha,12,81,75,79,78,93,79,485,80.8,A
5,Pooja Singh,6,81,76,79,83,77,80,476,79.3,B
13,Abhirup Banerjee,14,78,83,75,68,82,88,474,79.0,B
10,Aarav Sharma,11,78,82,74,69,80,85,468,78.0,B
8,Kunal Mehta,9,73,75,78,74,70,76,446,74.3,B
29,Kali Charan,30,64,69,71,72,78,80,434,72.3,B
21,Priya Singh,22,60,68,72,74,75,77,426,71.0,B
6,Sourav Ghosh,7,69,72,70,68,74,71,424,70.7,B
28,Pankaj Kumar,29,60,69,70,71,76,77,423,70.5,B
25,Gurmit Singh,26,61,63,68,70,75,77,414,69.0,C
23,Sanjay Majumdar,24,60,63,64,73,74,79,413,68.8,C
2,Ankit Kumar,3,65,70,68,72,75,60,410,68.3,C
18,Meghna Arora,19,58,64,66,72,73,74,407,67.8,C
4,Rahul Verma,5,55,60,58,62,64,57,356,59.3,D
16,Shibam Mundra,17,45,48,52,57,59,73,334,55.7,D